{% extends "base.html" %}

{block header %}
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Homepage</h2>
{%endblock header %}

{% block main%}

<!-- Main Section Heading -->
<!-- <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Information for Refunds</h2> -->

<!-- Icon Divider -->
<!-- <div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
</div> -->

<!-- Main Content -->
<div style="text-align: center;">
    <h4>Name: {{contact_name}}</h4>
    <p>Address: {{contact_address.sector}} {{contact_address.city}},{{contact_address.planet}}</p>
    <p>Phone numbers: {{contact_phone.0}} and {{contact_phone.1}}</p>
    <p>Working Hours: {{contact_hours.0.1}}, {{contact_hours.1.1}}, and {{contact_hours.2.1}}</p>
</div>

{% endblock%}