<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Add a new Product</title>
  <style>
    .card {
      margin: 60px auto;
      width: 28rem;
    }
  </style>
</head>
<body>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Product Form</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fill out the form</h6>
        <form action="product" method="POST">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="title" class="form-control" id="title" name="title" aria-describedby="titleHelp" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="weight">Weight</label>
            <input type="weight" class="form-control" id="weight" name="weight" aria-describedby="weightHelp" placeholder="Enter weight">
          </div>
          <div class="form-group">
            <label for="Price">Price</label>
            <input type="price" class="form-control" id="price" name="price" aria-describedby="priceHelp" placeholder="Enter you price">
          </div>
          <div class="form-group">
            <label for="Amount">Amount</label>
            <input type="amount" class="form-control" id="amount" name="amount" placeholder="Amount">
          </div>
          <div class="form-group">
            <label for="Providers">Providers</label>
            <input type="providers" class="form-control" id="providers" name="providers" placeholder="Providers">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>