<div class="portfolio-modal modal fade" id="songid{{id}}" tabindex="-1" role="dialog" aria-labelledby="songid{{id}}Label"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px;" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <i class="fas fa-times"></i>
                </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{title}}</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Image -->
                            <img class="img-fluid rounded mb-5" style="width: 300px;height: 300px;" src="{{album_image}}" alt="">
                            <!-- Text -->
                            <table
                                style="margin-left:auto; margin-right:auto; margin-bottom:50px; border-collapse: separate;border-spacing: 50px 0;">
                                <tr>
                                    <td class="font-weight-bold">Artists</td>
                                    <td>{{artists}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Album</td>
                                    <td>{{album}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Genre</td>
                                    <td>{{genre}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Year</td>
                                    <td>{{year}}</td>
                                </tr>
                            </table>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>