{% extends "base.html" %}
{% load static %}
{% block header %}
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Payment</h2>
{% endblock header %}

{% block main%}

<!-- Main Content -->
<div style="text-align: center;">
    <p>Payment type: {{ payment_type }}</p>
    <p>Discount: {{ discount }}%</p>
    <p>City: {{ address.city }}</p>
    <p>Zipcode: {{ address.zipcode }}</p>
    <img src="{%static 'apps/payment/payment.png' %}" class="rounded" alt="payment">
</div>

{% endblock%}